footer

script(src="./assets/libs/js/jquery.min.js")
script(src="./assets/libs/js/bootstrap.min.js")
script(src="./assets/libs/js/wow.min.js")
script(src="./assets/libs/js/particles.min.js")
script(src="./assets/libs/js/jquery.sticky.js") 
script(src="./assets/js/project.js") 