doctype html
head
    title Sample project
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="description" content="Sample description")
    meta(name="keywords" content="HTML, CSS, XML, JavaScript")
    meta(name="author" content="Ahmet Can Gümrükçü")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./assets/libs/css/bootstrap.min.css")
    link(rel="stylesheet", href="./assets/libs/css/animate.css")
    link(rel="stylesheet", href="./assets/libs/css/font-awesome.min.css")
    link(rel="stylesheet", href="./assets/css/project.css")
body
  