include includes/_header.pug

header
    .container
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='#')
                        | Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href='#') Link
                
                li.nav-item
                    a.nav-link.disabled(href='#') Disabled
    
.container
    .row
        .jumbotron
            h1.display-4 Hello, world!
            p.lead
            | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            hr.my-4
            p
            | It uses utility classes for typography and spacing to space content out within the larger container.
            p.lead
            a.btn.btn-primary.btn-lg(href='#', role='button') Learn more


include includes/_footer.pug